@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background: url("../img/hand-painted-watercolor-background-with-sky-clouds-shape.jpg");
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
}
.navbar h2 {
  font-weight: 600;
}

.navbar ul {
  display: inline-block;
  display: flex;
  justify-content: space-around;
}
.navbar ul li {
  margin: 0 30px;
}
.navbar ul li a {
  font-size: 1.3rem;
  color: #000;
}